.event-image {
  width: 100%;
}

.event-image-container {
  width: 100%;
}

.event-info-container {
  width: 100%;
}

.event-actions {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

@media (min-width: 640px) {
  .event-info-container {
    width: 60%;
  }
}
