.event-page {
  min-height: 100%;
  padding-left: 2%;
  align-items: center;
}

img {
  width: 700px;
  height: 300px;
}

.eventHeader {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.event-page > * {
  flex: 1;
}

@media screen and (max-width: 1200px) {
  img {
    width: 250px;
    height: 125px;
  }
  .eventHeader {
    font-size: 1.5rem;
  }

  .extraInfo {
    display: none;
  }
}

.close:hover {
  background-color: lightcoral;
}

.actions {
  display: flex;
  gap: 12px;
  align-items: center;
}

/* https://stackoverflow.com/a/10415275 */
.checkbox {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  margin-right: 4px;
}
